.campusLife {
  text-align: center;
  padding-top: 20px;

  /* margin-top: 70px; */
}
.campusCards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.campusLifeCard {
  border-radius: 7px;
  text-align: start;
  background-color: #fcfbf7;
  width: 300px;
  /* padding-bottom: 20px; */
  /* height: 310px; */
  /* max-width: 410px; */
}
/* .campusLifeCard .academicsImgDiv {
  height: 310px;
} */

.campusLifeCard div img {
  width: 100%;
}
.campusLifeCard h4 {
  color: #393429;
  font-weight: 700;
  font-size: 18px;
  /* padding-left: 16px; */
}
.campusLifeCard h6 {
  color: #3f3f3f;
  font-weight: 400;
  font-size: 16px;
  /* padding-left: 16px; */
}

.campusLifeCard > p {
  display: inline;
  color: #7f2a2a;
  font-weight: 500;
  font-size: 16px;
  /* padding-left: 16px; */
}
.campusLifeCard:first-child {
  width: 100%;
}

.campusLifeCard:nth-child(3) {
  width: 540px;
  /* margin-top: -35px; */
  /* height: 30px; */
}

.campusLife button {
  margin-top: 40px;
}
@media (max-width: 1024px) {
  .campusLife {
    margin-top: 30px;
  }
  .campusCards {
    gap: 40px;
  }

  .campusLifeCard:first-child,
  .campusLifeCard:nth-child(3),
  .campusLifeCard {
    width: 45%;
  }
}
@media (max-width: 768px) {
  .campusCards {
    gap: 40px;
    justify-content: center;
  }
  .campusLifeCard:first-child,
  .campusLifeCard:nth-child(3),
  .campusLifeCard {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .campusLife {
    margin-top: 50px;
    padding-top: 0px;
  }
  .campusLifeCard img {
    height: 180px;
  }

  .campusLifeCard:nth-child(2) {
    display: none;
  }
}
