.events {
  text-align: center;
  padding-top: 50px;
}
.eventCards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px;
}
.eventCards li {
  text-align: start;
}
.event {
  padding: 25px 16px;
  margin-top: 30px;
}
.event h4,
.event h6 {
  font-size: 16px;
  font-weight: 600;
}
.event h4 {
  color: #7f2a2a;
}
.event h6 {
  margin-top: 25px;
  color: #1f1f1f;
}
.event p {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

/* .eventCards li:first-child,
.eventCards li:last-child {
  width: 648px;
} */
.imgDiv {
  height: 230px;
  width: 100%;
  /* border: 1px solid blue; */
  padding: 0px;
}
.imgDiv img {
  width: 100%;
  height: 100%;
}
.eventCardSmall {
  position: relative;
  width: 480px;
  height: 450px;
  background-color: #fff;

  /* border: 1px solid blue; */
}
.eventCardBig {
  position: relative;
  width: 750px;
  height: 450px;
  background-color: #fff;
  /* border: 20px solid #fff; */
  /* border: 1px solid blue; */
}
.dateDiv {
  position: absolute;
  top: 190px;
  left: 20px;
  width: 80px;
  height: 80px;
  background-color: #f8f3e8;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* vertical-align: ; */
}
.dateDiv p {
  width: 40%;
  height: 40%;
  color: #393429;
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
  /* border: 2px solid red; */
  /* vertical-align: center; */
  padding: 0px;
}
.dateDiv span {
  width: 50%;
  height: 50%;
  color: #393429;
  font-size: 16px;
  font-weight: 700;
}

.eventLastImg {
  width: 100%;
  height: 650px;
  margin-top: 30px;
}
.events button {
  margin-top: 25px;
}
.eventLastImg img {
  width: 100%;
  margin-top: 30px;
}

@media (max-width: 1024px) {
  .eventCards {
    justify-content: center;
    align-items: center;
  }
  .eventCardBig,
  .eventCardSmall {
    width: 45%;
    height: auto;
  }
  .eventCards li:first-child {
    margin-top: 20px;
  }
  .eventLastImg {
    height: auto;
  }
}
@media (max-width: 768px) {
  .eventCardBig,
  .eventCardSmall {
    width: 80%;
    height: auto;
  }

  .eventLastImg {
    height: auto;
  }
}
@media (max-width: 500px) {
  .eventCardBig,
  .eventCardSmall {
    background-color: #f4f4f4;
    padding: 0px;
  }
  .imgDiv {
    display: none;
  }
  .dateDiv {
    height: 100%;
    width: 53px;
    background-color: #5f5e5e;
    top: 0;
    left: 0;
    gap: 0px;
  }
  .dateDiv P {
    /* word-wrap: break-word; */
    height: 30px;
    color: #f4f4f4;
    text-align: center;
    padding: 0px;
    margin-top: 0px;
  }
  .event {
    padding: 0px 5px 10px 60px;
    /* padding-left: 40px; */
  }
  .dateDiv > span {
    height: 20px;
    color: #f4f4f4;
    background-color: #5f5e5e;
  }

  .event h4 {
    font-weight: 500;
  }
  .event h6 {
    font-weight: 400;
    font-size: 14px;
  }
  .event p {
    font-size: 14px;
    font-weight: 400;
  }
  .eventLastImg {
    display: none;
  }
}
