.research {
  text-align: center;
  padding-top: 30px;
}

.dataArr {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  /* height: 94px; */
  padding: 32px 0px;
  margin-top: 30px;
  flex-wrap: wrap;
  /* margin-bottom: 40px; */
}
.researchCard > p {
  font-size: 16px;
  color: #3f3f3f;
}
.dataArr h4 {
  font-size: 30px;
}
.researchCard {
  width: 280px;
  padding: 0px;
  margin: 0px;
}
.research button {
  margin-top: 30px;
}

@media (max-width: 1024px) {
  .dataArr {
    gap: 40px;
    /* background: #f4f4f4 !important; */
  }

  .research > .researchBg {
    background-color: #f4f4f4;
    padding: 0px 0px 20px 0px;
  }
}
@media (max-width: 500px) {
  .researchCard p {
    font-size: 14px;
  }
  .dataArr h4 {
    font-size: 20px;
  }
}
