.footer {
  background-color: #7f2a2a;
  color: #f4f4f4;
  padding-bottom: 20px;
  padding-top: 20px;
}
.footerContainer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
  /* border: 2px solid white; */
}
.miniRight {
  text-align: start;
  padding: 0px;
}
.miniRight > .bodyList,
.miniRight > ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding-left: 0px;
  margin-left: 40px;
}
.miniRight > li {
  /* display: inline; */
  text-align: start;
}
.headerList {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
ul > .bodyList:first-child,
.bodyList {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.footerRight {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-left: 50px; */
}
.bodyList {
  margin-top: 10px;
}
.footerContainerMain .paragraphs {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #f4f4f4;
  text-align: center;
}
@media (max-width: 1024px) {
  .miniRight > .bodyList {
    flex-wrap: wrap;
    /* justify-content: center; */
  }
}

@media (max-width: 768px) {
  .footerContainer {
    justify-content: center;
  }
  .miniRight > ul {
    flex-direction: column;
    gap: 20px;
  }
  .miniRight > ul li {
    white-space: nowrap;
  }
  .miniRight {
    width: 100%;
    display: flex;
  }
  .bodyList {
    margin-top: 0px;
  }
  .headerList,
  .bodyList {
    font-weight: 400;
  }
  .footerRight > p {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .footerContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
  }
  .footerRight {
    margin: -20px 20px 10px;
  }

  .miniRight {
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    padding-left: 0px;
    /* border: 2px solid blue; */
  }

  .miniRight > ul {
    margin-left: 1px;
    padding: 0px;
  }
  .miniRight > ul li {
    padding: 0px;
    font-size: 14px;
  }
  .miniRight > .bodyList {
    margin-left: 15px;
    margin-right: 20px;
  }
  .footerContainerMain .paragraphs {
    margin-top: 30px;
  }
}
