.currentContainer {
  text-align: center;
  padding-bottom: 20px;
  background-color: #fff;
  padding-top: 10px;
}
.currentContainer button {
  margin-top: 20px;
}
.currentContainer > div {
  text-decoration: none;
}

.campusCardText > h4 {
  font-size: 16px;
  color: #aa3939;
  font-weight: 400;
}
.campusCardText > h6 {
  font-size: 16px;
  color: #1f1f1f;
  font-weight: 500;
}

.bigSize,
.smallSize {
  position: relative;
}
.bigSize {
  width: 560px;
}

.smallSize {
  width: 320px;
}

.cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0px 0px 0px;
  margin: 0px;
}
.card {
  text-align: start;
}
.campusCardImg {
  width: 100%;
  height: 250px;
}
.campusCardImg > img {
  width: 100%;
  height: 100%;
}
.campusCardText {
  padding: 16px;
  height: 116px;
}

@media (max-width: 1024px) {
  /* new codes */
  .currentContainer {
    padding-top: 0px;
    padding-bottom: 50px;
    margin-top: -70px;
    /* border: 2px solid red; */
    /* margin-bottom: 70px; */
  }
  .bigSize,
  .smallSize {
    width: 45%;
  }
  .cards {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .bigSize,
  .smallSize {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .currentContainer {
    /* margin-top: -70px; */
    margin-top: -210px;
  }
  .bigSize,
  .smallSize {
    margin-top: 10px;
  }
  .cards {
    padding: 0px;
  }
  .card:first-child,
  .card:last-child {
    display: none;
  }
  .campusCardImg {
    display: none;
  }
  .campusCardText {
    height: auto;
    background: #faf7f7cb;
    padding: 10px;
  }
  .campusCardText h4,
  .campusCardText h6 {
    font-size: 14px;
  }
}
