/* .nav {
 
} */
.navFlex {
  background: #aa3939;
  width: 100%;
}
.navLeft {
  display: flex;
  gap: 20px;
  padding: 0px;
}
.containerNav {
  /* max-width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  /* border: 1px solid #fff; */
}
