/* .nav {
 
} */
.navFlex {
  background: #aa3939;
  width: 100%;
}
.navLeft {
  display: flex;
  align-items: baseline;
  gap: 20px;
  padding: 0px;
}
.containerNav {
  /* max-width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  /* border: 1px solid #fff; */
}
.hamburger {
  display: none;
}

@media (max-width: 1024px) {
  .hamburger {
    display: block;
  }
  .navLeft {
    display: none;
  }
}
