.seacrchDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f7eeee;
  /* border: 1px solid red; */
}
.searchIcon {
  background-color: #aa3939;
}
.searchIcon > .bi-search {
  color: #f7eeee;
  /* width: 50px; */
  margin-top: 15px;
}
.bi-search {
  font-weight: 900;
  width: 90%;
}
/* input {
  display: none;
} */
label {
  margin-left: 10px;

  font-size: 17px;
}
.searchBAr {
  color: #000;
}
