.currentContainer {
  max-width: 674px;
  margin: 0 auto;
  text-align: center;
}
h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
}
p {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
